@import "variables";

h1{
  color: $couleur;
}

#header {
 height: $hauteur;
}

#Page1 {
  p { font-size: 13px; }
  .SectionA {
    p{ font-size: 14px;}
  }
}

#Page2 {
  p { font-size: 18px; }
}


@import "footer";
